<!DOCTYPE html>
<html lang="pt-BR">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Seu Título Aqui</title>
        <link rel="stylesheet" href="/static/css/estilo.css">
</head>
<body>
<header>
    <h1>Resumo de Discursos Políticos com IA</h1>
</header>

<div class="container">
    <div class="biografia">
        <h2>Carla Zambelli</h2>
        <img src="https://www.camara.leg.br/internet/bancoimagem/banco/2023/10/img20231010115014417MED.jpg" alt="Carla Zambelli" width="200" style="float:left; margin-right:20px;">
        <p>Carla Zambelli é uma política e jornalista brasileira, conhecida por apoiar uma série de pautas alinhadas com o conservadorismo e com as políticas do governo de Jair Bolsonaro. Ela é uma voz ativa na defesa da flexibilização do porte de armas e uma agenda econômica liberal.</p>
        <p>Nascida em São Paulo em 1980, Zambelli começou a se tornar conhecida a partir das redes sociais em 2015, ano em que o movimento Nas Ruas ganhou notoriedade por causa dos protestos contra a então presidente Dilma Rousseff.  Sua carreira política teve destaque em 2018, quando foi eleita deputada federal pelo estado de São Paulo, representando o Partido Social Liberal (PSL). Desde então, tem sido uma representante proeminente da direita brasileira. </p>
        <p>Nesta página, você encontrará resumos dos discursos de Carla Zambelli, elaborados através de inteligência artificial para destacar seus principais pontos e propostas. Acompanhe para entender mais sobre suas visões e ações políticas.</p>
    </div>
    
    <div class="resumos">
        <h2>Resumos</h2>
        {% for deputado in documentos %}
            <div class="resumo">
                <h3>Resumo</h3>
                <p>{{ deputado.resumo }}</p>
                <p>{{ deputado.data }}</p>
            </div>
        {% endfor %}
    </div>
</div>

<footer>
    <p>&copy; 2024 Resumo de Discursos Políticos com IA</p>
</footer>

</body>
</html>