<!DOCTYPE html>
<html lang="pt-BR">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Seu Título Aqui</title>
        <link rel="stylesheet" href="/static/css/estilo.css">
</head>
<body>
<header>
    <h1>Resumo de Discursos Políticos com IA</h1>
</header>

<div class="container">
    <div class="biografia">
        <h2>Guilherme Boulos</h2>
        <img src="https://www.camara.leg.br/internet/bancoimagem/banco/2023/12/img20231213224210328MED.jpg" alt="Guilherme Boulos" width="200" style="float:left; margin-right:20px;">
        <p>Guilherme Boulos é um político, escritor e ativista social brasileiro. Líder de movimentos sociais e figura proeminente na luta por moradia e justiça social, Boulos tem sido uma voz ativa na política brasileira, defendendo políticas públicas inclusivas e a reforma agrária.</p>
        <p>Nascido em São Paulo em 1982, Boulos é formado em filosofia pela Universidade de São Paulo (USP) e em psicologia pela Pontifícia Universidade Católica de São Paulo (PUC-SP). Sua carreira política é marcada pela liderança em movimentos sociais, especialmente o Movimento dos Trabalhadores Sem Teto (MTST), e pela candidatura a cargos públicos, representando a esquerda brasileira.</p>
        <p>Nesta página, você encontrará resumos dos discursos de Guilherme Boulos, elaborados através de inteligência artificial para destacar seus principais pontos e propostas. Acompanhe para entender mais sobre suas visões e ações políticas.</p>
    </div>
    
    <div class="resumos">
        <h2>Resumos</h2>
        {% for deputado in documentos %}
            <div class="resumo">
                <h3>Resumo</h3>
                <p>{{ deputado.resumo }}</p>
                <p>{{ deputado.data }}</p>
            </div>
        {% endfor %}
    </div>
</div>

<footer>
    <p>&copy; 2024 Resumo de Discursos Políticos com IA</p>
</footer>

</body>
</html>