<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Seu Título Aqui</title>
        <link rel="stylesheet" href="/static/css/estilo.css">
    </head>
<body>
    <h1>Bem-vindo à página</h1>
    <p>Esta é uma página HTML básica em português.</p>
    
    <!-- Dropdown menu para seleção das páginas -->
    <select id="menuPaginas" onchange="redirecionarParaPagina()">
        <option value="">Selecione um Deputado</option>
        <option value="/tabataamaral">Tabata Amaral</option>
        <option value="/nikolasferreira">Nikolas Ferreira</option>
        <option value="/guilhermeboulos">Guilherme Boulos</option>
    </select>

</body>
</html>
